{
  "openapi": "3.0.1",
  "info": {
    "title": "3X Pay Gateway",
    "description": "Para autenticar as rotas dessa API são necessario ter em mãos a **api_secret** e **api_key** da sua conta. Este podem ser encontrados dentro do painel https://app.3xpay.co acessando a página de Configurações e clicando na opção de Credencias de API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://gateway.3xpay.co"
    }
  ],
  "tags": [
    {
      "name": "Transações",
      "description": "Operações relacionadas a transações financeiras"
    },
    {
      "name": "Webhooks",
      "description": "Notificações de eventos da API"
    },
    {
      "name": "Balance",
      "description": "Operações relacionadas ao saldo da conta"
    },
    {
      "name": "Sub-accounts",
      "description": "Operações relacionadas a subcontas BaaS"
    },
    {
      "name": "MED Contest",
      "description": "Endpoints server-to-server para responder a solicitações de MED (Mecanismo Especial de Devolução do Pix)"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "apiSecretAuth": []
    }
  ],
  "paths": {
    "/transaction/cash-in": {
      "post": {
        "tags": ["Transações"],
        "operationId": "createCashIn",
        "summary": "CashIn",
        "description": "Cria uma nova transação de entrada (cash-in)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashInRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transação criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashInResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/cash-out": {
      "post": {
        "tags": ["Transações"],
        "operationId": "createCashOut",
        "summary": "CashOut",
        "description": "Cria uma nova transação de saída (cash-out). O usuário deve incluir uma assinatura RSA no cabeçalho `signature` para autenticar a requisição.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashOutRequest" 
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transação criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashOutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação ou QR Code expirado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "qrcodeExpired": {
                    "summary": "QR Code expirado",
                    "value": {
                      "error": 400,
                      "message": "qrcode já expirado"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transaction": {
      "post": {
        "tags": ["Transações"],
        "operationId": "createCheckout",
        "summary": "Checkout Transparente",
        "description": "Cria uma nova transação de checkout transparente",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transação criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/refund": {
      "post": {
        "tags": ["Transações"],
        "operationId": "createRefund",
        "summary": "Refund",
        "description": "Realiza o estorno de uma transação",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estorno iniciado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro na requisição de estorno",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "refundInProcessing": {
                    "summary": "Reembolso já está em processamento",
                    "value": {
                      "error": 400,
                      "message": "Reembolso já está em processamento. Aguarde a confirmação."
                    }
                  },
                  "cannotRefund": {
                    "summary": "Transação não pode ser estornada",
                    "value": {
                      "error": 400,
                      "message": "Transação não pode ser estornada"
                    }
                  },
                  "invalidTransactionId": {
                    "summary": "ID da transação inválido",
                    "value": {
                      "error": 400,
                      "message": "Id da transação inválido"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transaction/v2/{transactionId}/find": {
      "get": {
        "tags": ["Transações"],
        "operationId": "findTransaction",
        "summary": "Consultar Transação",
        "description": "Consulta os detalhes de uma transação específica",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da transação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/account/balance": {
      "get": {
        "tags": ["Balance"],
        "operationId": "getBalance",
        "summary": "Consultar Saldo",
        "description": "Retorna o saldo disponível e saldo retido da conta",
        "responses": {
          "200": {
            "description": "Saldo consultado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/{transactionId}/receipt": {
      "get": {
        "tags": ["Transações"],
        "operationId": "getReceipt",
        "summary": "Consultar Recibo",
        "description": "Consulta o recibo de uma transação específica",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da transação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/decode-qrcode": {
      "post": {
        "tags": ["Transações"],
        "operationId": "decodeQrCode",
        "summary": "Decodificar QR Code",
        "description": "Decodifica um QR Code EMV e retorna os dados se o QR estiver ativo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecodeQrRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR Code ativo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecodeQrSuccessResponse"
                }
              }
            }
          },
          "410": {
            "description": "QR Code expirado ou inativo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecodeQrExpiredResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts": {
      "post": {
        "tags": ["Sub-accounts"],
        "operationId": "createSubAccount",
        "summary": "Criar Subconta",
        "description": "Cria uma nova subconta completa, incluindo usuário e informações da empresa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subconta criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts/document": {
      "post": {
        "tags": ["Sub-accounts"],
        "operationId": "uploadPersonalDocument",
        "summary": "Upload Documento Pessoal",
        "description": "Faz upload de documentos pessoais da subconta (RG, CNH, Selfie)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["documentType", "file"],
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Tipo do documento",
                    "enum": ["RG_FRONT", "RG_BACK", "CNH_FRONT", "CNH_BACK", "SELFIE"]
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo do documento"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Documento enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadDocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts/document/company": {
      "post": {
        "tags": ["Sub-accounts"],
        "operationId": "uploadCompanyDocument",
        "summary": "Upload Documento Empresa",
        "description": "Faz upload de documentos empresariais da subconta (Comprovante de Endereço, CNPJ, Contrato Social)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["documentType", "file"],
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Tipo do documento",
                    "enum": ["PROOF_OF_RESIDENCE", "CNPJ", "SOCIAL_CONTRACT"]
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo do documento"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Documento da empresa enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadDocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/med-contest/exposes": {
      "post": {
        "tags": ["MED Contest"],
        "operationId": "createMedContest",
        "summary": "Abrir disputa de MED",
        "description": "Cria o registro inicial da contestação a partir do UUID da transação contestada. Após esta chamada, o status fica em `WAITING_CONTENT` aguardando o upload da evidência via PATCH.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMedContestRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Disputa criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedContestRecord"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação ou disputa já existente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidUuid": {
                    "summary": "transaction_id inválido",
                    "value": {
                      "error": 400,
                      "message": "transaction_id deve ser um UUID válido."
                    }
                  },
                  "alreadyExists": {
                    "summary": "Disputa já existente para a transação",
                    "value": {
                      "error": 400,
                      "message": "Já existe uma disputa de MED para esta transação. Use GET /med-contest/exposes/:medId para recuperar o registro existente."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Transação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Transação não pertence à conta autenticada",
                    "value": {
                      "error": 404,
                      "message": "Transação não encontrada para sua conta."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["MED Contest"],
        "operationId": "listMedContests",
        "summary": "Listar disputas de MED",
        "description": "Retorna a lista paginada de todas as disputas de MED da conta autenticada.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "Página."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "10"
            },
            "description": "Itens por página."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "WAITING_CONTENT",
                "REQUESTED",
                "DEFENSE_SUBMITTED",
                "DEFENSE_FAILED",
                "APPROVED",
                "REJECTED",
                "REFUNDED",
                "CANCELLED"
              ]
            },
            "description": "Filtra por status do MED."
          },
          {
            "name": "created_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filtra por data de criação (ISO date)."
          },
          {
            "name": "updated_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filtra por data de atualização (ISO date)."
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada de disputas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedContestListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Nenhuma disputa encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "empty": {
                    "summary": "Sem resultados",
                    "value": {
                      "error": 404,
                      "message": "Nenhuma disputa de MED encontrada"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/med-contest/exposes/{medId}": {
      "get": {
        "tags": ["MED Contest"],
        "operationId": "getMedContest",
        "summary": "Detalhar disputa de MED",
        "description": "Retorna os detalhes da disputa, incluindo o documento de evidência em base64 (quando já tiver sido enviado).",
        "parameters": [
          {
            "name": "medId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID numérico retornado por `POST /med-contest/exposes` ou listado em `GET /med-contest/exposes`."
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da disputa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedContestTransactionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidId": {
                    "summary": "medId inválido",
                    "value": {
                      "error": 400,
                      "message": "Validation failed (numeric string is expected)"
                    }
                  },
                  "notInDispute": {
                    "summary": "Transação fora de disputa",
                    "value": {
                      "error": 400,
                      "message": "Esta transação não está em estado de disputa de MED"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Disputa não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "medId inexistente",
                    "value": {
                      "error": 404,
                      "message": "Disputa de MED não encontrada"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["MED Contest"],
        "operationId": "submitMedContestEvidence",
        "summary": "Enviar evidência da disputa",
        "description": "Envia o arquivo de evidência e a descrição da defesa. Pode ser chamado múltiplas vezes para anexar evidências adicionais — a última prevalece no campo `content`. Internamente, o gateway envia a defesa ao PSP upstream (hoje apenas Woovi tem caminho server-to-server).",
        "parameters": [
          {
            "name": "medId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID numérico da disputa."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file", "description"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Documento de evidência (PDF, imagem, etc.). Tamanho máximo: 10 MB."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "Descrição/texto da defesa. Máximo 2000 caracteres."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidência registrada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedContestRecord"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação no envio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "descriptionRequired": {
                    "summary": "Descrição ausente",
                    "value": {
                      "error": 400,
                      "message": "Descrição é obrigatória."
                    }
                  },
                  "descriptionTooLong": {
                    "summary": "Descrição muito longa",
                    "value": {
                      "error": 400,
                      "message": "Descrição deve ter no máximo 2000 caracteres."
                    }
                  },
                  "fileTooLarge": {
                    "summary": "Arquivo excede o limite",
                    "value": {
                      "error": 400,
                      "message": "Arquivo muito grande (máximo 10MB)."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Disputa não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "medId inexistente",
                    "value": {
                      "error": 404,
                      "message": "Disputa de MED não encontrada"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts/open-full-account": {
      "post": {
        "tags": ["Sub-accounts"],
        "operationId": "openFullAccount",
        "summary": "Abrir Conta Completa",
        "description": "Inicia o processo de abertura de conta completa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conta em análise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAccountResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WebhookNotification": {
        "type": "object",
        "required": ["transactionStatus", "transactionId", "transactionType", "externalId", "value"],
        "properties": {
          "transactionStatus": {
            "type": "string",
            "description": "Status atual da transação",
            "enum": ["PAID", "PENDING", "FAILED", "CHARGEBACK", "REFUND", "REFUND_REJECTED"]
          },
          "transactionId": {
            "type": "string",
            "description": "ID único da transação"
          },
          "transactionType": {
            "type": "string",
            "description": "Tipo da transação",
            "enum": ["CASH_IN", "CASH_OUT"]
          },
          "externalId": {
            "type": "string",
            "description": "ID externo fornecido pelo cliente"
          },
          "value": {
            "type": "number",
            "description": "Valor da transação"
          },
          "error_message": {
            "type": "string",
            "nullable": true,
            "description": "Mensagem de erro ou status do refund (ex: 'REFUNDED' para estorno confirmado, ou código de erro para rejeição)"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "required": ["transaction_id"],
        "properties": {
          "transaction_id": {
            "type": "string",
            "description": "ID da transação a ser estornada",
            "example": "aafee9f5-94b3-4e3d-ab6a-416d0a1218cb"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string",
            "description": "ID da transação de estorno",
            "example": "aafee9f5-94b3-4e3d-ab6a-416d0a1218cb"
          },
          "status": {
            "type": "string",
            "description": "Status do estorno",
            "example": "IN_PROCESSING"
          },
          "value": {
            "type": "number",
            "description": "Valor do estorno em reais",
            "example": 100.50
          },
          "e2e_id": {
            "type": "string",
            "nullable": true,
            "description": "Identificador end-to-end da transação PIX",
            "example": "E23114447202304181826HJNwY577YDX"
          },
          "payer": {
            "type": "object",
            "description": "Dados do pagador",
            "properties": {
              "name": {
                "type": "string",
                "description": "Nome do pagador"
              },
              "document": {
                "type": "string",
                "description": "Documento do pagador (CPF/CNPJ)"
              },
              "bankCode": {
                "type": "string",
                "description": "Código do banco do pagador"
              },
              "bankName": {
                "type": "string",
                "description": "Nome do banco do pagador"
              },
              "bankIspb": {
                "type": "string",
                "description": "Código ISPB do banco do pagador"
              }
            }
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CashInRequest":  {
        "type": "object",
        "properties": {
          "transaction": {
            "type": "object",
            "required": ["amount", "callback_url", "external_id"],
            "properties": {
              "amount": {
                "type": "number",
                "description": "O valor a ser transacionado"
              },
              "callback_url": {
                "type": "string",
                "description": "A URL para a qual o callback da transação será enviado"
              },
              "external_id": {
                "type": "string",
                "description": "O identificador externo para a transação"
              },
              "expiration": {
                "type": "number",
                "description": "A data de expiração em segundos do QRCode",
                "example": 3600
              },
              "custom_message": {
                "type": "string",
                "description": "Mensagem customizada para o pagador",
                "example": "Pix para o pedido 123456",
                "maxLength": 130
              },
              "debtor": {
                "type": "object",
                "required": ["name", "document"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do pagador",
                    "example": "João da Silva"
                  },
                  "document": {
                    "type": "string",
                    "description": "Documento do pagador (CPF) apenas números",
                    "example": "12345678901"
                  }
                }
              }
            }
          }
        }
      },
      "CashInResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da transação",
            "example": "PENDING"
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status do pagamento",
                "example": "PENDING"
              },
              "transaction_id": {
                "type": "string",
                "description": "ID da transação",
                "example": "W5qrXoQ6Me5kfw1mEaTsn9lizo"
              },
              "payment_code": {
                "type": "string",
                "description": "Código de pagamento PIX"
              },
              "link": {
                "type": "string",
                "description": "Link para pagamento"
              },
              "total": {
                "type": "number",
                "description": "Valor total da transação"
              }
            }
          },
          "transaction_id": {
            "type": "string",
            "description": "ID único da transação",
            "example": "756afe09-0471-4124-9f35-6691fa130f5b"
          }
        }
      },
      "CashOutRequest": {
        "type": "object",
        "properties": {
          "transaction": {
            "type": "object",
            "required": ["key", "callback_url", "external_id", "pixType"],
            "properties": {
              "key": {
                "type": "string",
                "description": "Chave PIX do destinatário ou EMV completo do QR Code para pixType=QRCODE"
              },
              "amount": {
                "type": "number",
                "description": "Valor a ser transacionado. Obrigatório exceto quando pixType=QRCODE (valor inferido do QR)."
              },
              "callback_url": {
                "type": "string",
                "description": "A URL para a qual o callback da transação será enviado"
              },
              "external_id": {
                "type": "string",
                "description": "O identificador externo para a transação (pode ser sobrescrito com o txid quando pixType=QRCODE)"
              },
              "pixType": {
                "type": "string",
                "description": "Tipo da chave PIX",
                "enum": ["CPF", "CNPJ", "PHONE", "EMAIL", "RANDOM", "QRCODE"]
              }
            }
          }
        }
      },
      "CashOutResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da transação",
            "example": "success"
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status do pagamento",
                "example": "pending"
              },
              "transaction_id": {
                "type": "string",
                "description": "ID da transação",
                "example": "3b7abeda-205a-4439-a078-957e3f37c330"
              },
              "payment_code": {
                "type": "string",
                "description": "Código de pagamento"
              },
              "link": {
                "type": "string",
                "description": "Link para pagamento"
              },
              "total": {
                "type": "number",
                "description": "Valor total",
                "example": 2
              }
            }
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": ["transaction"],
        "properties": {
          "transaction": {
            "type": "object",
            "required": [
              "customer_infos",
              "address",
              "payment_method",
              "callback_url",
              "products"
            ],
            "properties": {
              "customer_infos": {
                "type": "object",
                "required": ["name", "email", "document", "phone"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do cliente"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email do cliente"
                  },
                  "document": {
                    "type": "string",
                    "description": "CPF/CNPJ do cliente"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Telefone do cliente"
                  }
                }
              },
              "address": {
                "type": "object",
                "required": ["zipcode", "street", "number", "district", "city", "state"],
                "properties": {
                  "zipcode": {
                    "type": "string",
                    "description": "CEP"
                  },
                  "street": {
                    "type": "string",
                    "description": "Rua"
                  },
                  "number": {
                    "type": "string",
                    "description": "Número"
                  },
                  "district": {
                    "type": "string",
                    "description": "Bairro"
                  },
                  "adjunct": {
                    "type": "string",
                    "description": "Complemento"
                  },
                  "city": {
                    "type": "string",
                    "description": "Cidade"
                  },
                  "state": {
                    "type": "string",
                    "description": "Estado"
                  }
                }
              },
              "payment_method": {
                "type": "string",
                "description": "Método de pagamento",
                "enum": ["PIX", "CREDIT_CARD", "BILLET"]
              },
              "installments": {
                "type": "integer",
                "description": "Número de parcelas"
              },
              "card_payment_method_id": {
                "type": "string",
                "description": "Bandeira do cartão"
              },
              "card_number": {
                "type": "string",
                "description": "Número do cartão"
              },
              "expiration_date": {
                "type": "string",
                "description": "Data de expiração do cartão",
                "pattern": "^(0[1-9]|1[0-2])/([0-9]{2})$"
              },
              "cvv": {
                "type": "string",
                "description": "Código de segurança do cartão"
              },
              "holder_name": {
                "type": "string",
                "description": "Nome do titular do cartão"
              },
              "callback_url": {
                "type": "string",
                "description": "URL para callback"
              },
              "products": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["name", "price", "quantity"],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Nome do produto"
                    },
                    "price": {
                      "type": "number",
                      "description": "Preço do produto"
                    },
                    "quantity": {
                      "type": "integer",
                      "description": "Quantidade do produto"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da transação",
            "example": "success"
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status do pagamento",
                "example": "PROCESSING"
              },
              "transaction_id": {
                "type": "string",
                "description": "ID da transação",
                "example": "ScEEPm9jzOgL1FbU2J673JDaNMqMV7S"
              },
              "payment_code": {
                "type": "string",
                "description": "Código de pagamento PIX"
              },
              "link": {
                "type": "string",
                "description": "Link para pagamento"
              },
              "due_date": {
                "type": "string",
                "description": "Data de vencimento",
                "format": "date-time"
              },
              "total": {
                "type": "number",
                "description": "Valor total da transação"
              }
            }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number",
            "description": "Saldo disponível na conta",
            "example": 7.56
          },
          "secure_balance": {
            "type": "number", 
            "description": "Saldo retido/em garantia",
            "example": 10.28
          },
          "total_meds": {
            "type": "number", 
            "description": "Total de MEDs",
            "example": 10.28
          }
        }
      },
      "ReceiptResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "SUCCESS"
          },
          "data": {
            "type": "object",
            "properties": {
              "receipt": {
                "type": "string",
                "description": "Conteúdo do comprovante em base64",
                "example": "JVBERi0xLjMKJf..."
              },
              "mimeType": {
                "type": "string",
                "description": "Tipo do arquivo do comprovante",
                "example": "application/pdf"
              }
            }
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "SUCCESS"
          },
          "transaction": {
            "type": "object",
            "properties": {
              "transaction_id": {
                "type": "string",
                "description": "Identificador único da transação",
                "example": "001d9bf0-d736-4882-8ed0-e332bb118009"
              },
              "external_id": {
                "type": "string",
                "description": "Identificador externo da transação",
                "example": "G50403083329447uMFsSb"
              },
              "status": {
                "type": "string",
                "description": "Status da transação",
                "example": "PROCESSED"
              },
              "typeTransaction": {
                "type": "string",
                "description": "Tipo da transação",
                "example": "OUT"
              },
              "total": {
                "type": "string",
                "description": "Valor total da transação",
                "example": "579.06"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Data de criação da transação",
                "example": "2025-04-03T11:33:31.104Z"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Data da última atualização da transação",
                "example": "2025-04-03T11:33:36.244Z"
              },
              "e2e_id": {
                "type": "string",
                "description": "Identificador end-to-end da transação PIX",
                "example": "E05491616202504031133322540c3ea4"
              },
              "error_message": {
                "type": "string",
                "nullable": true,
                "description": "Mensagem de erro, se houver"
              },
              "payment_code": {
                "type": "string",
                "nullable": true,
                "description": "Código de pagamento PIX",
                "example": "00020101021226820014br.gov.bcb.pix2560qrcode.pagsm.com.br/pix/44c5e891-9afc-4c7f-9954-5fbdc69600eb5204000053039865802BR59043XIP6013BELOHORIZONTE61083401102162070503***63047DE4"
              },
              "payer": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do pagador",
                    "example": "3X INSTITUICAO DE PAGAMENTO LTDA"
                  },
                  "document": {
                    "type": "string",
                    "description": "Documento do pagador (CPF/CNPJ)",
                    "example": "36.010.822/0001-09"
                  },
                  "bankCode": {
                    "type": "string",
                    "description": "Código do banco do pagador",
                    "example": "400"
                  },
                  "bankName": {
                    "type": "string",
                    "description": "Nome do banco do pagador",
                    "example": "COOP CREDITAG"
                  },
                  "bankIspb": {
                    "type": "string",
                    "description": "Código ISPB do banco do pagador",
                    "example": "5491616"
                  }
                }
              },
              "receiver": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do recebedor",
                    "example": "GABRIEL DIBACHTI INACIO DA SILVA"
                  },
                  "document": {
                    "type": "string",
                    "description": "Documento do recebedor (CPF/CNPJ)",
                    "example": "022.***.***-40"
                  },
                  "bankCode": {
                    "type": "string",
                    "description": "Código do banco do recebedor",
                    "example": "077"
                  },
                  "bankName": {
                    "type": "string",
                    "description": "Nome do banco do recebedor",
                    "example": "BANCO INTER"
                  },
                  "bankIspb": {
                    "type": "string",
                    "description": "Código ISPB do banco do recebedor",
                    "example": "00416968"
                  }
                }
              }
            }
          }
        }
      },
      "CreateSubAccountRequest": {
        "type": "object",
        "required": ["company_infos", "representative", "address"],
        "properties": {
          "company_infos": {
            "type": "object",
            "required": ["cnpj", "company_name", "trade_name", "company_type", "constitution_date", "monthly_income"],
            "properties": {
              "cnpj": {
                "type": "string",
                "description": "CNPJ da empresa",
                "example": "12345678000195"
              },
              "company_name": {
                "type": "string",
                "description": "Razão social da empresa",
                "example": "Empresa Exemplo LTDA"
              },
              "trade_name": {
                "type": "string",
                "description": "Nome fantasia da empresa",
                "example": "Empresa Exemplo"
              },
              "company_type": {
                "type": "string",
                "description": "Tipo da empresa",
                "example": "LTDA"
              },
              "constitution_date": {
                "type": "string",
                "format": "date",
                "description": "Data de constituição",
                "example": "2020-01-01"
              },
              "monthly_income": {
                "type": "number",
                "description": "Renda mensal da empresa",
                "example": 50000
              }
            }
          },
          "representative": {
            "type": "object",
            "required": ["name", "email", "cpf", "full_name", "phone", "mother_name", "monthly_income", "birth_date", "was_signed", "signature_date"],
            "properties": {
              "name": {
                "type": "string",
                "description": "Nome do representante",
                "example": "João Silva"
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Email do representante",
                "example": "joao@empresa.com"
              },
              "cpf": {
                "type": "string",
                "description": "CPF do representante",
                "example": "12345678901"
              },
              "full_name": {
                "type": "string",
                "description": "Nome completo do representante",
                "example": "João Silva Santos"
              },
              "phone": {
                "type": "string",
                "description": "Telefone do representante",
                "example": "+5511987654321"
              },
              "mother_name": {
                "type": "string",
                "description": "Nome da mãe do representante",
                "example": "Maria Silva"
              },
              "monthly_income": {
                "type": "string",
                "description": "Renda mensal do representante",
                "example": "3000"
              },
              "birth_date": {
                "type": "string",
                "format": "date",
                "description": "Data de nascimento",
                "example": "1990-01-01"
              },
              "was_signed": {
                "type": "boolean",
                "description": "Se o representante já assinou os documentos",
                "example": true
              },
              "signature_date": {
                "type": "string",
                "format": "date",
                "description": "Data da assinatura",
                "example": "2024-01-01"
              }
            }
          },
          "address": {
            "type": "object",
            "required": ["street", "number", "city", "zip_code", "neighborhood", "uf", "adress_type"],
            "properties": {
              "street": {
                "type": "string",
                "description": "Rua/Logradouro",
                "example": "Rua Exemplo"
              },
              "number": {
                "type": "string",
                "description": "Número",
                "example": "123"
              },
              "city": {
                "type": "string",
                "description": "Cidade",
                "example": "São Paulo"
              },
              "zip_code": {
                "type": "string",
                "description": "CEP",
                "example": "01234567"
              },
              "neighborhood": {
                "type": "string",
                "description": "Bairro",
                "example": "Centro"
              },
              "uf": {
                "type": "string",
                "description": "UF (Estado)",
                "example": "SP"
              },
              "adress_type": {
                "type": "number",
                "description": "Tipo de endereço",
                "example": 1
              }
            }
          },
          "ref": {
            "type": "string",
            "description": "Referência opcional para identificação",
            "example": "A12as31qw78gb"
          }
        }
      },
      "CreateSubAccountResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "success"
          },
          "account": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Nome da empresa",
                "example": "Empresa Exemplo LTDA"
              },
              "document": {
                "type": "string",
                "description": "CNPJ da empresa",
                "example": "12345678000195"
              },
              "status": {
                "type": "string",
                "description": "Status da conta",
                "example": "PENDING"
              },
              "secrets": {
                "type": "object",
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Chave de API da subconta",
                    "example": "ak_1234567890abcdef"
                  },
                  "api_secret": {
                    "type": "string",
                    "description": "Secret de API da subconta",
                    "example": "as_1234567890abcdef"
                  }
                }
              }
            }
          }
        }
      },
      "UploadDocumentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "success"
          },
          "message": {
            "type": "string",
            "description": "Mensagem de resposta",
            "example": "Documento enviado com sucesso."
          },
          "data": {
            "type": "object",
            "properties": {
              "filename": {
                "type": "string",
                "description": "Nome do arquivo",
                "example": "rg_frente.jpg"
              },
              "document_type": {
                "type": "string",
                "description": "Tipo do documento",
                "example": "RG_FRONT"
              },
              "document_format": {
                "type": "string",
                "description": "Formato do documento",
                "example": "JPG"
              }
            }
          }
        }
      },
      "OpenAccountResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "success"
          },
          "message": {
            "type": "string",
            "description": "Mensagem de resposta",
            "example": "Conta em analise."
          }
        }
      },
      "DecodeQrRequest": {
        "type": "object",
        "required": ["emv"],
        "properties": {
          "emv": {
            "type": "string",
            "description": "Conteúdo EMV do QR Code"
          }
        }
      },
      "DecodeQrSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "qrcode": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 100.0
              },
              "expiresAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-12-08T20:27:51.580Z"
              },
              "receiver": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Blind Pay, Inc." },
                  "city": { "type": "string", "example": "Vila Velha" },
                  "key": { "type": "string", "example": "f0f64d04-1e7d-4e4f-976f-48f4c7e0c225" }
                }
              },
              "txid": { "type": "string", "example": "d192067a12b2e43c38594b22af4128981" },
              "url": { "type": "string", "example": "brcode.starkinfra.com/v2/192067a12b2e43c38594b22af4128981" }
            }
          }
        }
      },
      "CreateMedContestRequest": {
        "type": "object",
        "required": ["transaction_id"],
        "properties": {
          "transaction_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID da transação contestada, recebido no webhook IN com `transactionStatus = MED`.",
            "example": "01a51b3e-e17d-45eb-b8a2-e2392b6b1b28"
          }
        }
      },
      "MedContestStatus": {
        "type": "string",
        "description": "Status do registro de disputa.",
        "enum": [
          "WAITING_CONTENT",
          "REQUESTED",
          "DEFENSE_SUBMITTED",
          "DEFENSE_FAILED",
          "APPROVED",
          "REJECTED",
          "REFUNDED",
          "CANCELLED"
        ]
      },
      "MedContestRecord": {
        "type": "object",
        "description": "Registro da disputa de MED. O campo `id` é o `medId` usado nos demais endpoints.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID numérico da disputa (medId).",
            "example": 1024
          },
          "transactionId": {
            "type": "integer",
            "description": "ID interno da transação relacionada.",
            "example": 50231
          },
          "status": {
            "$ref": "#/components/schemas/MedContestStatus"
          },
          "content": {
            "type": "string",
            "nullable": true,
            "description": "URL do arquivo de evidência armazenado. `null` enquanto a evidência não foi enviada.",
            "example": "https://s3.../comprovante.pdf"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Descrição/texto da defesa enviada com a evidência.",
            "example": "Comprovante de pagamento original."
          },
          "external_med_id": {
            "type": "string",
            "nullable": true,
            "description": "ID da disputa no PSP upstream (preenchido após o envio).",
            "example": "dispute_8f3a..."
          },
          "processor_name": {
            "type": "string",
            "nullable": true,
            "description": "Nome do PSP upstream que recebeu a defesa.",
            "example": "woovi"
          },
          "retry_count": {
            "type": "integer",
            "description": "Quantidade de tentativas de envio.",
            "example": 0
          },
          "last_error": {
            "type": "string",
            "nullable": true,
            "description": "Mensagem do último erro de transporte, se houver."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-12T10:30:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-12T10:30:00.000Z"
          }
        }
      },
      "MedContestListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID interno da transação.",
            "example": 50231
          },
          "transactionId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID da transação.",
            "example": "01a51b3e-e17d-45eb-b8a2-e2392b6b1b28"
          },
          "order_processor_id": {
            "type": "string",
            "example": "ORDER-XPTO-99"
          },
          "status": {
            "type": "string",
            "description": "Status da transação. Em disputa permanece `MED`.",
            "example": "MED"
          },
          "external_id": {
            "type": "string",
            "example": "PARTNER-REF-001"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-10T13:22:11.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-11T09:14:02.000Z"
          },
          "user": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "Parceiro X"
              }
            }
          },
          "MedContest": {
            "$ref": "#/components/schemas/MedContestRecord"
          }
        }
      },
      "MedContestListResponse": {
        "type": "object",
        "properties": {
          "medsContest": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MedContestListItem"
            }
          },
          "total": {
            "type": "integer",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "example": 1
          },
          "currentPage": {
            "type": "integer",
            "example": 1
          },
          "nextPage": {
            "type": "integer",
            "nullable": true,
            "example": null
          },
          "prevPage": {
            "type": "integer",
            "nullable": true,
            "example": null
          },
          "pageSize": {
            "type": "integer",
            "example": 20
          }
        }
      },
      "MedContestTransactionDetail": {
        "type": "object",
        "description": "Transação em disputa com o detalhe do `MedContest` aninhado. No detalhe, `MedContest.content` vem como data URI em base64.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 50231
          },
          "transactionId": {
            "type": "string",
            "format": "uuid",
            "example": "01a51b3e-e17d-45eb-b8a2-e2392b6b1b28"
          },
          "status": {
            "type": "string",
            "example": "MED"
          },
          "MedContest": {
            "allOf": [
              { "$ref": "#/components/schemas/MedContestRecord" },
              {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "nullable": true,
                    "description": "Data URI em base64 do documento de evidência.",
                    "example": "data:application/pdf;base64,JVBERi0xLj..."
                  }
                }
              }
            ]
          }
        }
      },
      "DecodeQrExpiredResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "expired"
          },
          "message": {
            "type": "string",
            "example": "qrcode já expirado"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key"
      },
      "apiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_secret"
      }
    }
  }
}